h1 {
  font-size: 35px;
  font-family: "Arial";
}
body {
  background-color: #f0f0f0;
  justify-content: center !important;
  text-align: center;
}
.link {
  text-decoration: none;
}
.menu-bar {
  display: flex;
  grid-gap: 10px 25px;
  justify-content: center   !important;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(0, 0, 0,0.3);
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  width: 100%;
  margin: auto;
  position: fixed;
    bottom: 0;
    left: 0;
}