h1 {
  font-size: 35px;
  font-family: "Arial";
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding-bottom: 5%;

}
.content{
  width: 80%;
  margin: auto;
}
.link {
  text-decoration: none;
}
.menu-bar {
  display: flex;
  grid-gap: 10px 25px;
  background-color: #0000004d;
  width: 100%;
}
.footer {
  background-color: #333;
  color: white;
  width: 100%;
  margin: auto;
  position: fixed;
    bottom: 0;
    left: 0;
}
.round{    
    width:10%;
    height: auto;
    padding-top:10%;
    overflow:hidden;
    position:relative;
    border-radius:50%;
    margin: auto;
  }
  .profile{
    padding: 2%;
  }
  img{
    position:absolute;
    top:50%;
    left:50%;
    height:auto;
    transform:translate(-50%,-50%);
    transition: 1s ease;
    min-width: none;
  }
  h1{
    font-size: 28px;
  }
  .btn {
    cursor: pointer;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-size: 1.5em;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
    margin: 10px 0px;
    font-size: 15px;
}